$default-space: 25px;
$h1-padding-top: 25px;
$p-padding-top: 25px;
$thumbnail-padding: 15px;
$thumbnail-margin: 15px;
$footer-container-padding: 15px;
$h-margin: 10px;
$navbar-default-height: 46px;
$search-form-width: 600px;
