<% @Title = "InsTrainey" %>
<% @Discription = "Instagramの投稿で、筋トレの記録をしよう。" %>

<!--ヘッダーの作成-->
<div class="jumbotron">
  <div class="content content-without-top-padding">
    <h1><%= @Title %></h1>
    <p><%= @Discription %></p>
    <!--フォーム-->
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="ユーザーやトレーニングを探す">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">検索</button>
      </span>
      </div>
    </div>
    <!--ソーシャルボタン-->
    <div class="social-group">
    </div>
  </div>
</div>
