<!--成功した場合-->
<% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
<% end %>
<!--失敗した場合-->
<% if flash[:alert] %>
    <div class="alert alert-warning">
      <%= flash[:alert] %>
    </div>
<% end %>
